.movie__item {
    margin-top: 100px;
    position: relative;
    width: 480px;
    height: 547px;
    background: #FFFFFF;
    box-shadow: 1px 2px 6px 7px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.movie__title {
    display: flex;
    align-items: center;
    /* text-align: center; */
    width: 260px;
    height: 200px;
    margin-left: 210px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    font-weight: 800;
    font-size: 30px;
}

.movie__year {
    margin-top: -15px;
    margin-left: 210px;
    margin-bottom: 0;
}

.movie__genres {
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-ev; */
    width: 240px;
    height: 70px;
    margin-left: 210px;
}
.movie__genres-item {
    font-weight: normal;
    font-size: 16px;
}

.movie__img {
    width: 271px;
    height: 391px;
    position: absolute;
    top: -45px;
    left: -80px;
}

.movie__summary {
    font-weight: normal;
    font-size: 20px;
}

/* .movie__column {
    width: 280px;
    height: 130px;
} */